.header {
  background-color:#068d9d;
}
.webt{
  text-align: left;
}
header {
  margin: 0px;
}
img:hover{opacity: 0.7;

}
header h1 {
  font-size: 30px;
  padding: 20px 20px;
  margin: 0px;
  color: #dcf4fc;
}
body{
  background-color: #dcf4fc;
  text-align: center;
  margin:0;
  color:#052655;
}
ul{
  list-style: none;
}
.logo{
  margin:20px;
}
.jikanwari{
  margin:auto;
}
th{
  width:100px;
  margin:10px;
}
table{
  border-collapse: solid;
}
tr{
  background-color: #BEE3F5;
}
.blue{
  background-color:#8EE3F5;
}
ol{
  
}
.list{
display: flex;
align-items: center;
flex-direction: column;
font-size: medium;
}
button{
  background-color: #8EE3F5;
  margin-bottom: 30px;
}
footer{
  background-color: #068d9d;
  color:#dcf4fc;
  height: 40px;
}
